<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	http://www.springframework.org/schema/context 
  	http://www.springframework.org/schema/context/spring-context-3.2.xsd
  	http://www.springframework.org/schema/util 
  	http://www.springframework.org/schema/util/spring-util-3.2.xsd
	">

<mvc:annotation-driven />
<context:component-scan base-package="quy.com"/>	
<bean id="propertyConfigurer"
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
         p:location="classpath:quy.properties" />
         
<bean name="faceBookConnection" class="quy.com.facebook.FaceBookConnection" scope="singleton">
	<property name="id" value="${face.id}"  ></property>
	<property name="secret" value="${face.secret}"  ></property>
	<property name="uri" value="${face.uri}"  ></property>
	<property name="scope" value="${face.scope}" ></property>
</bean>
<bean name="faceBookToken" class="quy.com.facebook.FaceBookToken" scope="session" >
	<property name="faceBookConnection" ref="faceBookConnection"></property>
</bean>
<bean name="user" class="quy.com.entity.User" scope="session"></bean>
</beans>
